.add-item-dialog dialog {
    max-width: 40rem;
}

.portfolio-body {

    img.logo {
        flex: auto 0 1;
        align-self: baseline;
        border-radius: 50%;
        width: calc(30% - 2rem);
        height: auto;
        margin: 1rem;
        object-fit: contain;
    }

    .portfolio-body {
        padding: 0em 1em;
    }

    .top-half {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 2rem;
    }

    .right-half {
        height: 100%;
        width: 50%;
        flex: auto 0 0;

        text-align: center;
        display: flex;
    }

    .left-half {
        height: 100%;
        width: 50%;
        flex: auto 0 0;

        display: flex;
        justify-content: center;
        position: relative;
    }

    .container {
        margin: auto;
        display: flex;
    }

    .business-info {
        width: calc(70% - 2rem);
        text-align: left;
        margin: auto 1em;
    }

    .business-name {
        font-size: calc(1rem + 3vw);
        font-weight: bold;
    }

    .business-name, .business-description, .business-website {
        padding: 0.5rem 0;
    }

    .featured-gallery {
        margin: 0 auto;
        flex-grow: 1;
        max-height: 100%;
    }

    hr.solid {
        border-top: 0.1rem solid #bbb;
        margin: 1em 0em;
    }

    .portfolio-gallery {
        margin: 0em 0em 1em 0em;
    }

    .item-placeholder {
        background-color:#A8CEF9;
        border-radius: 4px;
        text-align: center;
    }

    .AIemail {
        color: black;
        padding: 0.2em 0.2em 0em 0em;
    }

    .contact-btn {
        max-width: 20rem;
    }


    @media screen and (max-width: 75rem) {
        .right-half {
            display: none;
        }

        .left-half {
            width: 100%;
        }

        .business-info {
            width: calc(80% - 2rem);
        }

        .logo {
            width: calc(20% - 2rem);
        }
    }

    @media screen and (max-width: 35rem) {
        .left-half .container {
            flex-direction: column;
        }

        .business-info {
            width: calc(100% - 2rem);
            text-align: center;
        }

        img.logo {
            display: block;
            margin: auto;
            width: auto;
            max-width: 100%;
            max-height: 6rem;
        }
    }

}
