.labeled-input {
    margin: 2rem 1rem;
}

.labeled-input input, textarea {
    background: #F0F0F0;
    border: 0.1rem solid #C7BEBE;
    border-radius: 0.4rem;
    display: block;
    margin-top: 0.2rem;
    padding: 1rem;
    width: 100%;
}

.labeled-input-label {
    font-size: 0.9rem;
    padding-left: 0.4rem;
    padding-right: 0.3rem;
}

.labeled-input-desc {
    color: #666666;
    font-size: 0.8em;
}
