section.portfolio-upload{
  margin: auto;
  max-width: 75rem;
  min-width: 30rem;
  div.text-image-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    textarea.description{
      flex-basis: 50%; 
      flex-grow: 0;
      border: none;
      overflow: auto;
      outline: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      resize: none; /*remove the resize handle on the bottom right*/
      font-family: inherit; 
      font-size: inherit; 
      min-height: 8rem;
      background-color: #DEDEDE
    }
    div.image-block{
      img.image-preview{
        height: 450px; 
        width: 450px; 
        margin: auto;
        object-fit: cover;
        border-radius: .3em;
      }
    }
  }
    
  button.smaller{
    width: calc(30% - 2rem);
    float: right;
  }
}